/* BACKGROUND */
.login-container {
height: 100vh;
display: flex;
justify-content: center;
margin-top: 15px;           /* same as navbar height */
align-items: center;
background: white;
}

/* MAIN BOX */
.login-box {
display: flex;
width: 750px;
height: 420px;
background: white;
border-radius: 15px;
overflow: hidden;
box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

/* LEFT SIDE */
.login-left {
flex: 1;
background: linear-gradient(135deg, #f2c70a, gold);
color: black;
display: flex;
flex-direction: column;
justify-content: center;
padding: 40px;
}

.login-left h2 {
font-size: 26px;
margin-bottom: 10px;
}

.login-left p {
font-size: 14px;
opacity: 0.9;
}

/* RIGHT SIDE */
.login-right {
flex: 1;
padding: 30px;
display: flex;
flex-direction: column;
justify-content: center;
}

.login-right h2 {
margin-bottom: 5px;
}

.subtitle {
font-size: 13px;
margin-bottom: 15px;
}

.subtitle span {
color: red;
cursor: pointer;
font-weight: 600;
}

/* INPUT */
.login-right input {
width: 100%;
padding: 10px;
margin: 8px 0;
border: none;
border-bottom: 1px solid #ccc;
outline: none;
font-size: 14px;
}

/* BUTTON */
.login-right button {
margin-top: 15px;
padding: 10px;
border: none;
background: gold;
color: black;
border-radius: 6px;
cursor: pointer;
transition: 0.3s;
font-size: 14px;
}

.login-right button:hover {
background: orange;
}
